.navItemWrapper {
    box-sizing: border-box;
    padding: 0 15px;
}

.navItem {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
}

.navItemWrapper:first-child {
    padding: 0 15px 0 0;
}

.navItemWrapper:last-child {
    padding: 0 0px 0 15px;
}
@media screen and (max-width: 1023px) {
    .navItemWrapper {
        margin-top: 5px;
    }
}
@media screen and (max-width: 575px) {
    .navItemWrapper {
        margin-top: 15px;
        padding: 0;
    }
    .navItemWrapper:first-child {
        padding: 0;
    }
    
    .navItemWrapper:last-child {
        padding: 0;
    }
    .navItem {
        font-size: 14px;
    }
}