.imgCarousel {
    min-width: 560px;
    min-height: 560px;
    display: block;
    width: 50%;
    position: relative;
}

.imgCarousel__inner {
    width: 100%;
    display: block;
    position: relative;
    user-select: none;
    min-width: 560px;
    min-height: 560px;
    overflow: hidden;
}

.imgCarousel__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 280px;
    min-height: 12px;
    width: 7px;
    cursor: pointer;
    transition: all 0.4s ease-out;
    z-index: 102;
    user-select: none;
    border-radius: 100px;
    background-color: white;
    width: 30px;
    height: 30px;
}

.imgCarousel__arrow img {
    display: block;
    max-width: 7px;
    max-height: 13px;
}

.imgCarousel__arrow_left {
    left: 7%;
    transform: rotate(180deg);
}

.imgCarousel__arrow_right {
    right: 11%;
}

.imgCarousel__arrow.active {
    opacity: 1;
    pointer-events: all;
}

.imgCarousel__mini {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10px;
}

@media screen and (max-width: 1200px) {
    .imgCarousel {
        min-width: 50%;
        width: 50%;
    }

    .imgCarousel__inner {
        width: 100%;
        min-width: 100%;
        min-height: 500px;
    }
}

@media screen and (max-width: 575px) {
    .imgCarousel {
        min-width: 100%;
        width: 100%;
        min-height: auto;
    }

    .imgCarousel__inner {
        width: 100%;
        min-width: 100%;
        height: auto;
        min-height: 450px;
    }

    .imgCarousel__mini {
        margin-top: 35px;
    }

    .imgCarousel__arrow {
        top: 50%;
    }
    .imgCarousel__arrow_left {
        left: 0%;
    }
    
    .imgCarousel__arrow_right {
        right: 0%;
    }
}

@media screen and (max-width: 425px) {
    .imgCarousel__arrow {
        top: 40%;
    }
    .imgCarousel__inner {
        min-height: 350px;
    }
}
@media screen and (max-width: 375px) {
    .imgCarousel__arrow {
        top: 40%;
    }
    .imgCarousel__inner {
        min-height: 300px;
    }
}