.logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 220px;
    padding: 45px 0;
    box-sizing: border-box;
    max-width: 1200px;
}

.logoImage {
    display: block;
    max-width: 220px;
}