.logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 220px;
    margin-top: 45px;
    box-sizing: border-box;
    max-width: 1200px;
}

.logoImage {
    display: block;
    max-width: 220px;
}