.form {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    box-sizing: border-box;
}

.submit {
    color: #ffffff;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-weight: 600;
    margin-top: 20px;
}