.select__wrapper {}

.label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.55;
    text-transform: capitalize;
}

.select {
    display: block;
    margin-top: 3px;
    min-width: 150px;
    padding: 2px 30px 2px 6px;
    border: 1px #ddd solid;
    border-radius: 5px;
    background: #f8f8f8;
    font-size: 14px;
    line-height: 1.55;
    font-weight: 300;
    color: #000;
    box-sizing: border-box;
    cursor: pointer;
    text-transform: capitalize;
}